[package]
name = "ligero"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
repository = { workspace = true }

[dependencies]
plonky2 = { workspace = true }
